/*VARIABLES*/
$primary: #ffffff;
$secondary: #000000;
$text-color: #292929;
$accent: #d91f33;

/*FONTS*/
@font-face {
  font-family: headerFont;
  src: url(../fonts/GothamBold.ttf);
}
@font-face {
  font-family: textFont;
  src: url(../fonts/GothamBook.ttf);
}
